@using ErpMvcProject.BusinessLayer
@using ErpMvcProject.Entity
@model List<ViewModel>
@{
//EmployeeManager em = new EmployeeManager();
//List<Current> employeeList = em.GetEmployees().ToList();

}

<table class="table table-light table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email Address</th>
            <th scope="col">Address</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vM in Model)
        {
            <tr>
                <th scope="row">@vM.current.Id</th>
                <td>@vM.current.cName</td>
                <td>@vM.current.Title</td>
                <td>@vM.current.cPhone</td>
                <td>@vM.current.cMail</td>
                <td>@vM.current.Address1</td>
                <td>  @Html.ActionLink("Uptade & Details", "EmployeeUpdate", "Employee", new { eId = vM.current.Id }, new { @class = "btn btn-primary" })</td>
                <td>   @Html.ActionLink("Fired", "EmployeeDelete", new { eId = vM.current.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Kaydı silmek istiyor musunuz?');" })</td>
                

            </tr>

        }

    </tbody>
</table>
<script type="text/javascript">

    document.getElementById("Title").innerText = "Employees";
</script>
